body{
    overflow-x: hidden;
    padding: 7px;
    background-color: #f8f9fb;
}

.main-container{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1 1 auto;
    height: 98vh;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 15px rgb(188, 188, 188);
}

.nav-container{
    width: 80px;
    background-color: #f8f9fb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-item-unselected{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    border-radius: 10px;
    transition: background-color 250ms;
}

.nav-item-selected{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgb(178, 178, 178);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}


.nav-item-text{
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 10px;
    color: #868788;
}

.header-bar{
    background: rgb(112,90,232);
    background: linear-gradient(90deg, rgba(112,90,232,1) 0%, rgba(255,107,206,1) 100%);
    width: 100%;
    flex: 1 0 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bar-text{
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 16px;
    color: white;
}

.body-content{
    width: 100%;
    flex: 1 1 auto;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.welcome-container{
    display: flex;
    flex-direction: row;
    gap: 7px;
    height: 40px;
    padding-left: 40px;
}

.welcome-text{
    font-family: 'Segoe UI';
    font-weight: 800;
    font-size: 30px;
    color: #505050;
}

#application-name{
    background: linear-gradient(#494ddb, #9c57fb);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info-parent-container{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    width: 100%;
    gap: 50px;
}

.info-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.info-image-container{
    flex: 1 0 30%;
    overflow: hidden;
    border-radius: 10px;
}

.info-text-container{
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-text-title{
    font-family: 'Segoe UI';
    font-weight: 700;
    font-size: 30px;
    color: #505050;
}

.info-text-desc{
    width: 70%;
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 20px;
    color: #505050;
    line-height: 25px;
}


.nav-item-unselected:hover{
    background-color: #842dfd31;
    cursor: pointer;
}

